<%- include("partials/header") -%>

    <h1>About</h1>
    <p>
        <%= aboutContent%>
    </p>
    <h1> Expressing My Passions</h1>
    <p>
        Writing my blog allows me to merge my love for writing with everything else I’m passionate about. From raising
        awareness of disability to talking about all things beauty, fashion and positivity, blogging allows me to
        express all those things on one platform. It also allows me to gain an insight into other things I’m interested
        in such as how bloggers and brands use social media to their advantage, how other people use their platforms to
        get their voice heard and how so many industries come together to work on amazing projects in order to make a
        difference. There are so many things to learn within the blogosphere and this is a huge part of what drives and
        motivates me to continue on my journey as a blogger. There’s something incredibly rewarding about having a hobby
        which merges all your greatest passions.
    </p>

    <h1>Helping Others</h1>
    <p>I love turning a negative into a positive and blogging has given me the platform to share how I do that in my
        day-to-day life, it allows me to reach an audience which I never imagined I would and I can only hope that what
        I’ve written and what I will write in the future will help others out there. Even if it’s only one person, it
        makes everything worthwhile</p>
    <%- include("partials/footer") -%>